
.github/workflows/*.yml linguist-detectable=true linguist-documentation=false
.github/workflows/*.yaml linguist-detectable=true linguist-documentation=false

*.yml linguist-detectable=true
*.yaml linguist-detectable=true